<h1 class="text-center">Редактирование профиля</h1>
<div class="container d-flex justify-content-center">
  <div class="col-md-8 col-lg-6 col-xl-5 buffer-top border rounded p-3 shadow background-color">
    <%= render 'form' %>
    <p class="buffer-top"><%= link_to 'Сменить пароль', edit_user_registration_path %></p>
  </div>
</div>
