<h1>Editing Doctor Specialization</h1>

<%= render 'form', doctor_specialization: @doctor_specialization %>

<%= link_to 'Show', @doctor_specialization %> |
<%= link_to 'Back', doctor_specializations_path %>
